.individualProject {
  width: 40vw;
  padding: 1rem 0;
  border-radius: 1rem;
  border: 3px solid black;
  color: black;
  height: fit-content;
  overflow: hidden;
  margin: 3rem 0;
}

.carouselItem {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 18rem;
}

.carouselItem img {
  width: 95%;
  border-radius: 0.5rem;
}

.projectTitle {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-red);
}

.projectShortInfo {
  font-weight: 500;
  padding: 0 2.5rem;
  color: black;
}

.projectButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.projectButtons {
  display: flex;
  gap: 2rem;
}

.projectButtons a {
  text-decoration: none;
  color: var(--background-black);
}

.viewButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

.githubButton {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 900px) {
  .individualProject {
    width: 80vw;
    /* padding: 3rem; */
  }
}
